<div class="bulletins">
  <form (submit)="addBulletin()">
    <input
      type="text"
      name="inputTitle"
      placeholder="Post a title"
      class="bulletin-title"
      [(ngModel)]="inputTitle"
    />
    <input
      type="text"
      name="inputBulletin"
      placeholder="Post a message here..."
      class="bulletin-input"
      [(ngModel)]="inputBulletin"
    />
    <input
      type="submit"
      value="Post a bulletin"
      class="bulletin-submit"
      ng-required="true"
    />
  </form>
  <div class="bulletin" *ngFor="let bulletin of bulletins; let i = index;">
    <div class="id" class="bulletin {{ (bulletin.isUrgent ? 'urgent' : 'not-urgent') }}">{{ bulletin.title }}</div>
    <div class="content" class="bulletin {{ (bulletin.isUrgent ? 'urgent' : 'not-urgent') }}">{{ bulletin.content }}</div>
    <button class="urgency-button" (click)="toggleUrgency(i)">Set Urgency</button>
    <button class="edit">Edit</button>
    <button class="delete" (click)="deleteBulletin(i)">Delete</button>
  </div>
</div>
