.bulletin {
	display: flex;
	padding: 10px 15px;
	border-bottom: 1px solid #DDD;
}

.bulletin:nth-child(even) {
	background-color: #EEE;
}

.bulletin:last-of-type {
	border-bottom: 0;
}

.bulletin .id {
	flex: 1 1 50px;
  padding-right: 10px;
}

.bulletin .content {
  flex: 1 1 100%;
}

.bulletin-title {
  display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.bulletin-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.bulletin-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.id.urgent {
  color: red;

}

.id.not-urgent {
  color: green;
}

.content.urgent {
  color: red;
}

.content.not-urgent {
  color: green;
}

.urgency-button {

}
